.menu {
  background-color: hsl(212, 64%, 19%);
  color: white;
  text-align: left;
  overflow: auto;
}
.menu h2 {
  font-size: 1.2rem;
  border-bottom: solid #06121f 1px;
  margin: 0;
  padding: 1rem 1rem 0.2rem 1rem;
  font-family: 'Castoro', serif;
  background-color: #112d4e;
}
.submenu {
  font-size: 0.8rem;
}
.submenu-title {
  display: grid;
  grid-template-columns: auto 30px;
  align-items: center;
}
.submenu-title:hover {
  background-color: hsl(212, 64%, 15%);
}
.submenu h3 {
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding: 0.7rem;
  padding-left: 1rem;
}

.submenu-item {
  background-color: #06121f;
  box-sizing: border-box;
  padding-bottom: 0.1rem;
}
.submenu-item h4 {
  font-weight: 400;
  padding: 0.6rem;
  padding-left: 1.8rem;
  background-color: #06121f;
  margin: 0;
}
.submenu-item div {
  margin: auto;
  border-bottom: solid white 1px;
  border-radius: 100px;
  width: 0;
}
.submenu-item:hover > div {
  animation-name: algonameAnimation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes algonameAnimation {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
.submenu h3,
h4 {
  cursor: pointer;
}
