.menu {
  background-color: hsl(212, 64%, 19%);
  color: white;
  text-align: left;
  overflow: auto;
}
.menu h2 {
  font-size: 1.2rem;
  border-bottom: solid #06121f 1px;
  margin: 0;
  padding: 0.7rem 1rem 0.2rem 1rem;
  font-family: 'Castoro', serif;
  background-color: #112d4e;
}
.submenu {
  font-size: 0.9rem;
}
.submenu-title {
  display: grid;
  grid-template-columns: auto 30px;
  align-items: center;
}
.submenu-title:hover {
  background-color: hsl(212, 64%, 20%);
}
.submenu h3 {
  border-bottom: solid #06121f 1px;
  border-width: 80%;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding: 0.7rem;
  padding-left: 1rem;
}
.submenu h4 {
  font-weight: 400;
  padding: 0.6rem;
  padding-left: 1.8rem;
  background-color: #06121f;
  margin: 0;
}
.submenu h3,
h4 {
  cursor: pointer;
}
