main {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: minmax(200px, 1fr) minmax(900px, 5fr) minmax(200px, 1fr);
  grid-template-rows: 40px minmax(500px, 4fr) 40px minmax(40px, 1fr) 40px;
  grid-template-areas:
    'header header draw-graph'
    'algorithms canvas pseudocode'
    'algorithms reproductor options-title'
    'algorithms logdata options-panel'
    'footer logdata options-panel';
}
.header {
  grid-area: header;
  background-color: #3f72af;
  display: flex;
}
.header h1 {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  justify-self: center;
  align-self: center;
  font-family: 'Bree Serif', serif;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.draw-graph-area {
  grid-area: draw-graph;
  background-color: #3f72af;
  display: flex;
  justify-content: center;
}
.draw-graph-area div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #112d4e;
  border-radius: 5px;
  padding: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  color: white;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.draw-graph-area h2 {
  margin: 0;
  font-size: 1rem;
}
.algorithms {
  grid-area: algorithms;
  background-color: #112d4e;
}
.canvas {
  grid-area: canvas;
  background-color: white;
}
.canvas svg {
  width: 100%;
  height: 100%;
}
.pseudocode {
  grid-area: pseudocode;
  background-color: green;
}
.reproductor {
  grid-area: reproductor;
  background-color: blue;
}
.options-title {
  grid-area: options-title;
  background-color: purple;
}
.logdata {
  grid-area: logdata;
  background-color: tomato;
}
.options-panel {
  grid-area: options-panel;
  background-color: turquoise;
}
.footer {
  grid-area: footer;
  background-color: teal;
}
