main {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: minmax(200px, 1fr) minmax(900px, 5fr) minmax(200px, 1fr);
  grid-template-rows: 40px minmax(500px, 4fr) 40px minmax(40px, 1fr) 40px;
  grid-template-areas:
    'header header draw-graph'
    'menu canvas algorithm'
    'menu reproductor algorithm'
    'menu logdata algorithm'
    'footer logdata algorithm';
}
.header {
  grid-area: header;
  background-color: #3f72af;
  display: flex;
}
.header h1 {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  justify-self: center;
  align-self: center;
  font-family: 'Bree Serif', serif;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.draw-graph-area {
  grid-area: draw-graph;
  background-color: #3f72af;
  display: flex;
  justify-content: center;
  align-content: center;
}
.draw-graph-area div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #112d4e;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  color: white;
  align-self: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.draw-graph-area div:hover {
  transform: scale(1.05);
}
.draw-graph-area h2 {
  margin: 0;
  font-size: 1rem;
}
.menu {
  grid-area: menu;
}
.canvas {
  grid-area: canvas;
  background-color: #f9f7f7;
}
.canvas svg {
  width: 100%;
  height: 100%;
}
.algorithm {
  grid-area: algorithm;
  background-color: #3f72af;
  padding: 1rem;
}
.reproductor {
  grid-area: reproductor;
  background-color: #dbe2ef;
}
.logdata {
  grid-area: logdata;
  background-color: #06121f;
  color: white;
}
.footer {
  grid-area: footer;
  background-color: #112d4e;
  color: white;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 0.2rem;
  border-top: solid #06121f 1px;
}
.footer svg:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.footer p {
  margin: 0;
}
