.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draw-graph:focus {
  outline: none;
}
.node {
  cursor: pointer;
}
.edge {
  cursor: pointer;
}
.draw-graph-container {
  display: grid;
  min-width: 1300px;
  max-width: 90%;
  grid-template-columns: minmax(100px, 1fr) 300px 300px 300px minmax(100px, 1fr);
  grid-template-rows: 500px 50px;
  background-color: #3f72af;
  margin: auto;
  margin-top: 20px;
  border: 0px solid #afc2e0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 1rem;
  padding-top: 2rem;
  color: white;
  align-items: center;
}

.draw-graph {
  cursor: crosshair;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 900px;
  height: 500px;
  margin: 0px auto auto;
  grid-column: 2/5;
  grid-row: 1/2;
  background-color: white;
}
/* Left panel for instructions */
.instructions {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  margin: 0 20px 0 10px;
  height: 500px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.5em;
  padding: 10px 15px 5px 15px;
  background-color: #dbe2ef;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #384259;
}
.instructions h2 {
  text-align: center;
  color: black;
  margin-top: 0.5rem;
  font-family: 'Bree Serif', serif;
  font-family: 'Open Sans', sans-serif;
}
.instructions li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding: 0 0 5px 20px;
}

.instructions li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background: #3f72af;
  width: 10px;
  height: 10px;
  text-align: center;
  transform: rotate(0deg);
}

.instructions li::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  height: 10px;
  width: 10px;
  background: #3f72af;
  transform: rotate(45deg);
}
/* Edit weight is the box that changes weight to edges */
.edit-weight-form {
  border-radius: 3px;
  position: absolute;
  top: 40px;
  justify-self: center;
  background-color: #3f72af;
  display: grid;
  grid-template-columns: max-content 24px;
  grid-template-rows: 25px;
  align-items: center;
  padding: 0;
}
.edit-weight-form input {
  height: 15px;
  margin-left: 5px;
  margin-right: 3px;
  width: 60px;
  border-style: solid;
  border-width: 0px;
  border-color: white;
  background-color: #c4edde;
  border-radius: 2px;
  text-align: center;
}
.edit-weight-form input:focus {
  outline: none;
}
.edit-weight-form button {
  margin: 3px;
  padding: 0;
  height: 17px;
  border-style: none;
  border-radius: 2px;
  font-size: 12.5px;
  color: 'white';
  background-color: #f73859;
}
/* Divs that contain the chechboxes of weight and direction */
.draw-graph-checkbox {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
}
.grid-left {
  justify-self: left;
}
.grid-right {
  justify-self: right;
}
.draw-graph-checkbox h3 {
  margin: 10px 0 0 0;
  font-size: 1rem;
}
.draw-graph-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: center;
  text-align: center;
  justify-self: center;
  margin-top: 15px;
  background-color: #112d4e;
  border-radius: 5px;
  padding: 0.5rem 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.draw-graph-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
}
.draw-graph-button h3 {
  margin: 0;
  margin-top: -0.2rem;
}

/* Input / Output grid functionality  */
.import-export {
  margin: 0 10px 0 20px;
  display: grid;
  grid-template-rows: 30px 30px 1fr 30px;
  height: 500px;
  box-sizing: border-box;
}
.import-export h2 {
  background-color: #112d4e;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem;
}
.export-name {
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: solid #3f72af 1px;
}
.import-name {
  border-radius: 0 0 5px 5px;
}
@keyframes dropMenu {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.import-box {
  background-color: white;
  color: black;
  animation-name: dropMenu;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  border-radius: 5px;
}

.export-box {
  grid-row: 2/4;
  background-color: white;
  color: black;
  animation-name: dropMenu;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  border-radius: 5px;
}
.import-button {
  background-color: #afc2e0;
  color: black;
  border-radius: 5px;
  padding: 0.35rem 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.import-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.8;
}
.import-export textarea {
  border: none;
  resize: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  tab-size: 2;
  border-radius: 5px;
}
.copy-icon {
  opacity: 0.25;
  position: absolute;
  right: 45px;
  top: 70px;
  cursor: pointer;
}
.copy-icon:hover {
  opacity: 0.8;
}
